In [100]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [101]:
data = pd.read_csv('jj.csv')

In [102]:
print(data)

   sr no  training_set(0) / test_set(1)                     image
0      1                              1        image set/1/11.jpg
1      2                              0       image set/1/112.jpg
2      3                              0      image set/1/1112.jpg
3      4                              0      image set/2/7676.jpg
4      5                              1      image set/2/8787.jpg
5      6                              1     image set/3/23243.jpg
6      7                              1  image set/3/Untitled.jpg

In [103]:
x = data.iloc[:, 1].values
y = data.iloc[:, -1].values

In [104]:
print(x)
print(y)

[1 0 0 0 1 1 1]
['image set/1/11.jpg' 'image set/1/112.jpg' 'image set/1/1112.jpg'
 'image set/2/7676.jpg' 'image set/2/8787.jpg' 'image set/3/23243.jpg'
 'image set/3/Untitled.jpg']

In [105]:
c = 0
for n in x:
    if n==0:
        c+=1
print(c)

3

In [106]:
c = [n for n in x if n==0]

In [107]:
print(c)

[0, 0, 0]

In [108]:
rf = data.iloc[:,[1,2]].values

In [109]:
print(rf)

[[1 'image set/1/11.jpg']
 [0 'image set/1/112.jpg']
 [0 'image set/1/1112.jpg']
 [0 'image set/2/7676.jpg']
 [1 'image set/2/8787.jpg']
 [1 'image set/3/23243.jpg']
 [1 'image set/3/Untitled.jpg']]

In [110]:
hh = rf[:,1]

In [111]:
print(hh)

['image set/1/11.jpg' 'image set/1/112.jpg' 'image set/1/1112.jpg'
 'image set/2/7676.jpg' 'image set/2/8787.jpg' 'image set/3/23243.jpg'
 'image set/3/Untitled.jpg']

In [112]:
g = np.array(['E:/j/' + j for j in rf[:,1]])

In [113]:
print(g)

['E:/j/image set/1/11.jpg' 'E:/j/image set/1/112.jpg'
 'E:/j/image set/1/1112.jpg' 'E:/j/image set/2/7676.jpg'
 'E:/j/image set/2/8787.jpg' 'E:/j/image set/3/23243.jpg'
 'E:/j/image set/3/Untitled.jpg']

In [114]:
print(rf)

[[1 'image set/1/11.jpg']
 [0 'image set/1/112.jpg']
 [0 'image set/1/1112.jpg']
 [0 'image set/2/7676.jpg']
 [1 'image set/2/8787.jpg']
 [1 'image set/3/23243.jpg']
 [1 'image set/3/Untitled.jpg']]

In [115]:
rf[:,1] = g[:]

In [116]:
print(rf)

[[1 'E:/j/image set/1/11.jpg']
 [0 'E:/j/image set/1/112.jpg']
 [0 'E:/j/image set/1/1112.jpg']
 [0 'E:/j/image set/2/7676.jpg']
 [1 'E:/j/image set/2/8787.jpg']
 [1 'E:/j/image set/3/23243.jpg']
 [1 'E:/j/image set/3/Untitled.jpg']]

In [117]:
e1 = np.array([g for g in rf if np.all(g)])

In [118]:
print(e1,'\n\n',e1[:,1])

[[1 'E:/j/image set/1/11.jpg']
 [1 'E:/j/image set/2/8787.jpg']
 [1 'E:/j/image set/3/23243.jpg']
 [1 'E:/j/image set/3/Untitled.jpg']]

 ['E:/j/image set/1/11.jpg' 'E:/j/image set/2/8787.jpg'
 'E:/j/image set/3/23243.jpg' 'E:/j/image set/3/Untitled.jpg']

In [119]:
e2 = np.array([g for g in rf if not np.all(g)])

In [120]:
print(e2)

[[0 'E:/j/image set/1/112.jpg']
 [0 'E:/j/image set/1/1112.jpg']
 [0 'E:/j/image set/2/7676.jpg']]

In [127]:
from shutil import copy2
import os, sys

In [132]:
for i in e1[:,1]:
    if 'image set/1' in i:
        #os.mkdir('E:/j/train/1')
        copy2(i, 'E:/j/train/1')
    if 'image set/2' in i:
        #os.mkdir('E:/j/train/2')
        copy2(i, 'E:/j/train/2')   
    if 'image set/3' in i:
        #os.mkdir('E:/j/train/3')
        copy2(i, 'E:/j/train/3')

In [133]:
for i in e2[:,1]:
    if 'image set/1' in i:
        #os.mkdir('E:/j/train/1')
        copy2(i, 'E:/j/test/1')
    if 'image set/2' in i:
        #os.mkdir('E:/j/train/2')
        copy2(i, 'E:/j/test/2')   
    if 'image set/3' in i:
        #os.mkdir('E:/j/train/3')
        copy2(i, 'E:/j/test/3')

In [134]:
import glob

In [157]:
h = np.array(glob.glob("E:\CUB_200_2011\images\*"))

In [165]:
print(h[1])

E:\CUB_200_2011\images\002.Laysan_Albatross

In [166]:
l = h[1]

In [178]:
print(l)

E:\CUB_200_2011\images\002.Laysan_Albatross

In [191]:
l[23:]

'002.Laysan_Albatross'

In [192]:
mm = [u[23:] for u in h]

In [193]:
print(mm)

['001.Black_footed_Albatross', '002.Laysan_Albatross', '003.Sooty_Albatross', '004.Groove_billed_Ani', '005.Crested_Auklet', '006.Least_Auklet', '007.Parakeet_Auklet', '008.Rhinoceros_Auklet', '009.Brewer_Blackbird', '010.Red_winged_Blackbird', '011.Rusty_Blackbird', '012.Yellow_headed_Blackbird', '013.Bobolink', '014.Indigo_Bunting', '015.Lazuli_Bunting', '016.Painted_Bunting', '017.Cardinal', '018.Spotted_Catbird', '019.Gray_Catbird', '020.Yellow_breasted_Chat', '021.Eastern_Towhee', '022.Chuck_will_Widow', '023.Brandt_Cormorant', '024.Red_faced_Cormorant', '025.Pelagic_Cormorant', '026.Bronzed_Cowbird', '027.Shiny_Cowbird', '028.Brown_Creeper', '029.American_Crow', '030.Fish_Crow', '031.Black_billed_Cuckoo', '032.Mangrove_Cuckoo', '033.Yellow_billed_Cuckoo', '034.Gray_crowned_Rosy_Finch', '035.Purple_Finch', '036.Northern_Flicker', '037.Acadian_Flycatcher', '038.Great_Crested_Flycatcher', '039.Least_Flycatcher', '040.Olive_sided_Flycatcher', '041.Scissor_tailed_Flycatcher', '042.Vermilion_Flycatcher', '043.Yellow_bellied_Flycatcher', '044.Frigatebird', '045.Northern_Fulmar', '046.Gadwall', '047.American_Goldfinch', '048.European_Goldfinch', '049.Boat_tailed_Grackle', '050.Eared_Grebe', '051.Horned_Grebe', '052.Pied_billed_Grebe', '053.Western_Grebe', '054.Blue_Grosbeak', '055.Evening_Grosbeak', '056.Pine_Grosbeak', '057.Rose_breasted_Grosbeak', '058.Pigeon_Guillemot', '059.California_Gull', '060.Glaucous_winged_Gull', '061.Heermann_Gull', '062.Herring_Gull', '063.Ivory_Gull', '064.Ring_billed_Gull', '065.Slaty_backed_Gull', '066.Western_Gull', '067.Anna_Hummingbird', '068.Ruby_throated_Hummingbird', '069.Rufous_Hummingbird', '070.Green_Violetear', '071.Long_tailed_Jaeger', '072.Pomarine_Jaeger', '073.Blue_Jay', '074.Florida_Jay', '075.Green_Jay', '076.Dark_eyed_Junco', '077.Tropical_Kingbird', '078.Gray_Kingbird', '079.Belted_Kingfisher', '080.Green_Kingfisher', '081.Pied_Kingfisher', '082.Ringed_Kingfisher', '083.White_breasted_Kingfisher', '084.Red_legged_Kittiwake', '085.Horned_Lark', '086.Pacific_Loon', '087.Mallard', '088.Western_Meadowlark', '089.Hooded_Merganser', '090.Red_breasted_Merganser', '091.Mockingbird', '092.Nighthawk', '093.Clark_Nutcracker', '094.White_breasted_Nuthatch', '095.Baltimore_Oriole', '096.Hooded_Oriole', '097.Orchard_Oriole', '098.Scott_Oriole', '099.Ovenbird', '100.Brown_Pelican', '101.White_Pelican', '102.Western_Wood_Pewee', '103.Sayornis', '104.American_Pipit', '105.Whip_poor_Will', '106.Horned_Puffin', '107.Common_Raven', '108.White_necked_Raven', '109.American_Redstart', '110.Geococcyx', '111.Loggerhead_Shrike', '112.Great_Grey_Shrike', '113.Baird_Sparrow', '114.Black_throated_Sparrow', '115.Brewer_Sparrow', '116.Chipping_Sparrow', '117.Clay_colored_Sparrow', '118.House_Sparrow', '119.Field_Sparrow', '120.Fox_Sparrow', '121.Grasshopper_Sparrow', '122.Harris_Sparrow', '123.Henslow_Sparrow', '124.Le_Conte_Sparrow', '125.Lincoln_Sparrow', '126.Nelson_Sharp_tailed_Sparrow', '127.Savannah_Sparrow', '128.Seaside_Sparrow', '129.Song_Sparrow', '130.Tree_Sparrow', '131.Vesper_Sparrow', '132.White_crowned_Sparrow', '133.White_throated_Sparrow', '134.Cape_Glossy_Starling', '135.Bank_Swallow', '136.Barn_Swallow', '137.Cliff_Swallow', '138.Tree_Swallow', '139.Scarlet_Tanager', '140.Summer_Tanager', '141.Artic_Tern', '142.Black_Tern', '143.Caspian_Tern', '144.Common_Tern', '145.Elegant_Tern', '146.Forsters_Tern', '147.Least_Tern', '148.Green_tailed_Towhee', '149.Brown_Thrasher', '150.Sage_Thrasher', '151.Black_capped_Vireo', '152.Blue_headed_Vireo', '153.Philadelphia_Vireo', '154.Red_eyed_Vireo', '155.Warbling_Vireo', '156.White_eyed_Vireo', '157.Yellow_throated_Vireo', '158.Bay_breasted_Warbler', '159.Black_and_white_Warbler', '160.Black_throated_Blue_Warbler', '161.Blue_winged_Warbler', '162.Canada_Warbler', '163.Cape_May_Warbler', '164.Cerulean_Warbler', '165.Chestnut_sided_Warbler', '166.Golden_winged_Warbler', '167.Hooded_Warbler', '168.Kentucky_Warbler', '169.Magnolia_Warbler', '170.Mourning_Warbler', '171.Myrtle_Warbler', '172.Nashville_Warbler', '173.Orange_crowned_Warbler', '174.Palm_Warbler', '175.Pine_Warbler', '176.Prairie_Warbler', '177.Prothonotary_Warbler', '178.Swainson_Warbler', '179.Tennessee_Warbler', '180.Wilson_Warbler', '181.Worm_eating_Warbler', '182.Yellow_Warbler', '183.Northern_Waterthrush', '184.Louisiana_Waterthrush', '185.Bohemian_Waxwing', '186.Cedar_Waxwing', '187.American_Three_toed_Woodpecker', '188.Pileated_Woodpecker', '189.Red_bellied_Woodpecker', '190.Red_cockaded_Woodpecker', '191.Red_headed_Woodpecker', '192.Downy_Woodpecker', '193.Bewick_Wren', '194.Cactus_Wren', '195.Carolina_Wren', '196.House_Wren', '197.Marsh_Wren', '198.Rock_Wren', '199.Winter_Wren', '200.Common_Yellowthroat']

In [194]:
print(len(mm))

200

In [195]:
vgg_dir = 'E:\\CUB_200_2011\\train\\'
for i in mm:
    os.mkdir(vgg_dir + i)

In [196]:
vgg_dir = 'E:\\CUB_200_2011\\test\\'
for i in mm:
    os.mkdir(vgg_dir + i)

In [198]:
d = pd.read_csv('E:\CUB_200_2011\image123.csv')

In [199]:
print(d)

       sr no  test-set(0)/ training-set(1)  \
0          1                             0
1          2                             1
2          3                             0
3          4                             1
4          5                             1
5          6                             0
6          7                             1
7          8                             1
8          9                             1
9         10                             0
10        11                             1
11        12                             0
12        13                             0
13        14                             0
14        15                             1
15        16                             0
16        17                             0
17        18                             1
18        19                             0
19        20                             1
20        21                             1
21        22                             0
22        23                             1
23        24                             0
24        25                             0
25        26                             0
26        27                             0
27        28                             0
28        29                             0
29        30                             1
...      ...                           ...
11758  11759                             1
11759  11760                             1
11760  11761                             0
11761  11762                             1
11762  11763                             1
11763  11764                             0
11764  11765                             1
11765  11766                             0
11766  11767                             1
11767  11768                             0
11768  11769                             0
11769  11770                             1
11770  11771                             0
11771  11772                             1
11772  11773                             0
11773  11774                             1
11774  11775                             0
11775  11776                             1
11776  11777                             0
11777  11778                             1
11778  11779                             0
11779  11780                             0
11780  11781                             1
11781  11782                             1
11782  11783                             0
11783  11784                             1
11784  11785                             0
11785  11786                             0
11786  11787                             1
11787  11788                             0

                                               image set
0      001.Black_footed_Albatross/Black_Footed_Albatr...
1      001.Black_footed_Albatross/Black_Footed_Albatr...
2      001.Black_footed_Albatross/Black_Footed_Albatr...
3      001.Black_footed_Albatross/Black_Footed_Albatr...
4      001.Black_footed_Albatross/Black_Footed_Albatr...
5      001.Black_footed_Albatross/Black_Footed_Albatr...
6      001.Black_footed_Albatross/Black_Footed_Albatr...
7      001.Black_footed_Albatross/Black_Footed_Albatr...
8      001.Black_footed_Albatross/Black_Footed_Albatr...
9      001.Black_footed_Albatross/Black_Footed_Albatr...
10     001.Black_footed_Albatross/Black_Footed_Albatr...
11     001.Black_footed_Albatross/Black_Footed_Albatr...
12     001.Black_footed_Albatross/Black_Footed_Albatr...
13     001.Black_footed_Albatross/Black_Footed_Albatr...
14     001.Black_footed_Albatross/Black_Footed_Albatr...
15     001.Black_footed_Albatross/Black_Footed_Albatr...
16     001.Black_footed_Albatross/Black_Footed_Albatr...
17     001.Black_footed_Albatross/Black_Footed_Albatr...
18     001.Black_footed_Albatross/Black_Footed_Albatr...
19     001.Black_footed_Albatross/Black_Footed_Albatr...
20     001.Black_footed_Albatross/Black_Footed_Albatr...
21     001.Black_footed_Albatross/Black_Footed_Albatr...
22     001.Black_footed_Albatross/Black_Footed_Albatr...
23     001.Black_footed_Albatross/Black_Footed_Albatr...
24     001.Black_footed_Albatross/Black_Footed_Albatr...
25     001.Black_footed_Albatross/Black_Footed_Albatr...
26     001.Black_footed_Albatross/Black_Footed_Albatr...
27     001.Black_footed_Albatross/Black_Footed_Albatr...
28     001.Black_footed_Albatross/Black_Footed_Albatr...
29     001.Black_footed_Albatross/Black_Footed_Albatr...
...                                                  ...
11758  200.Common_Yellowthroat/Common_Yellowthroat_00...
11759  200.Common_Yellowthroat/Common_Yellowthroat_01...
11760  200.Common_Yellowthroat/Common_Yellowthroat_00...
11761  200.Common_Yellowthroat/Common_Yellowthroat_00...
11762  200.Common_Yellowthroat/Common_Yellowthroat_00...
11763  200.Common_Yellowthroat/Common_Yellowthroat_00...
11764  200.Common_Yellowthroat/Common_Yellowthroat_01...
11765  200.Common_Yellowthroat/Common_Yellowthroat_00...
11766  200.Common_Yellowthroat/Common_Yellowthroat_00...
11767  200.Common_Yellowthroat/Common_Yellowthroat_00...
11768  200.Common_Yellowthroat/Common_Yellowthroat_00...
11769  200.Common_Yellowthroat/Common_Yellowthroat_00...
11770  200.Common_Yellowthroat/Common_Yellowthroat_00...
11771  200.Common_Yellowthroat/Common_Yellowthroat_00...
11772  200.Common_Yellowthroat/Common_Yellowthroat_00...
11773  200.Common_Yellowthroat/Common_Yellowthroat_00...
11774  200.Common_Yellowthroat/Common_Yellowthroat_00...
11775  200.Common_Yellowthroat/Common_Yellowthroat_00...
11776  200.Common_Yellowthroat/Common_Yellowthroat_00...
11777  200.Common_Yellowthroat/Common_Yellowthroat_00...
11778  200.Common_Yellowthroat/Common_Yellowthroat_00...
11779  200.Common_Yellowthroat/Common_Yellowthroat_00...
11780  200.Common_Yellowthroat/Common_Yellowthroat_00...
11781  200.Common_Yellowthroat/Common_Yellowthroat_00...
11782  200.Common_Yellowthroat/Common_Yellowthroat_00...
11783  200.Common_Yellowthroat/Common_Yellowthroat_00...
11784  200.Common_Yellowthroat/Common_Yellowthroat_00...
11785  200.Common_Yellowthroat/Common_Yellowthroat_00...
11786  200.Common_Yellowthroat/Common_Yellowthroat_00...
11787  200.Common_Yellowthroat/Common_Yellowthroat_00...

[11788 rows x 3 columns]

In [202]:
rf = d.iloc[:,[1,2]].values

In [203]:
print(rf)

[[0 '001.Black_footed_Albatross/Black_Footed_Albatross_0046_18.jpg']
 [1 '001.Black_footed_Albatross/Black_Footed_Albatross_0009_34.jpg']
 [0 '001.Black_footed_Albatross/Black_Footed_Albatross_0002_55.jpg']
 ...,
 [0 '200.Common_Yellowthroat/Common_Yellowthroat_0008_190703.jpg']
 [1 '200.Common_Yellowthroat/Common_Yellowthroat_0049_190708.jpg']
 [0 '200.Common_Yellowthroat/Common_Yellowthroat_0055_190967.jpg']]

In [204]:
hh = rf[:,1]

In [205]:
hh

array(['001.Black_footed_Albatross/Black_Footed_Albatross_0046_18.jpg',
       '001.Black_footed_Albatross/Black_Footed_Albatross_0009_34.jpg',
       '001.Black_footed_Albatross/Black_Footed_Albatross_0002_55.jpg',
       ..., '200.Common_Yellowthroat/Common_Yellowthroat_0008_190703.jpg',
       '200.Common_Yellowthroat/Common_Yellowthroat_0049_190708.jpg',
       '200.Common_Yellowthroat/Common_Yellowthroat_0055_190967.jpg'], dtype=object)

In [206]:
g = np.array(['E:/CUB_200_2011/images/' + j for j in rf[:,1]])

In [207]:
print(g)

[ 'E:/CUB_200_2011/images/001.Black_footed_Albatross/Black_Footed_Albatross_0046_18.jpg'
 'E:/CUB_200_2011/images/001.Black_footed_Albatross/Black_Footed_Albatross_0009_34.jpg'
 'E:/CUB_200_2011/images/001.Black_footed_Albatross/Black_Footed_Albatross_0002_55.jpg'
 ...,
 'E:/CUB_200_2011/images/200.Common_Yellowthroat/Common_Yellowthroat_0008_190703.jpg'
 'E:/CUB_200_2011/images/200.Common_Yellowthroat/Common_Yellowthroat_0049_190708.jpg'
 'E:/CUB_200_2011/images/200.Common_Yellowthroat/Common_Yellowthroat_0055_190967.jpg']

In [208]:
rf[:,1] = g[:]

In [209]:
print(rf)

[[0
  'E:/CUB_200_2011/images/001.Black_footed_Albatross/Black_Footed_Albatross_0046_18.jpg']
 [1
  'E:/CUB_200_2011/images/001.Black_footed_Albatross/Black_Footed_Albatross_0009_34.jpg']
 [0
  'E:/CUB_200_2011/images/001.Black_footed_Albatross/Black_Footed_Albatross_0002_55.jpg']
 ...,
 [0
  'E:/CUB_200_2011/images/200.Common_Yellowthroat/Common_Yellowthroat_0008_190703.jpg']
 [1
  'E:/CUB_200_2011/images/200.Common_Yellowthroat/Common_Yellowthroat_0049_190708.jpg']
 [0
  'E:/CUB_200_2011/images/200.Common_Yellowthroat/Common_Yellowthroat_0055_190967.jpg']]

In [210]:
e1 = np.array([g for g in rf if np.all(g)])

In [211]:
e2 = np.array([g for g in rf if not np.all(g)])

In [212]:
e1

array([[1,
        'E:/CUB_200_2011/images/001.Black_footed_Albatross/Black_Footed_Albatross_0009_34.jpg'],
       [1,
        'E:/CUB_200_2011/images/001.Black_footed_Albatross/Black_Footed_Albatross_0074_59.jpg'],
       [1,
        'E:/CUB_200_2011/images/001.Black_footed_Albatross/Black_Footed_Albatross_0014_89.jpg'],
       ...,
       [1,
        'E:/CUB_200_2011/images/200.Common_Yellowthroat/Common_Yellowthroat_0094_190690.jpg'],
       [1,
        'E:/CUB_200_2011/images/200.Common_Yellowthroat/Common_Yellowthroat_0037_190698.jpg'],
       [1,
        'E:/CUB_200_2011/images/200.Common_Yellowthroat/Common_Yellowthroat_0049_190708.jpg']], dtype=object)

In [213]:
e2

array([[0,
        'E:/CUB_200_2011/images/001.Black_footed_Albatross/Black_Footed_Albatross_0046_18.jpg'],
       [0,
        'E:/CUB_200_2011/images/001.Black_footed_Albatross/Black_Footed_Albatross_0002_55.jpg'],
       [0,
        'E:/CUB_200_2011/images/001.Black_footed_Albatross/Black_Footed_Albatross_0085_92.jpg'],
       ...,
       [0,
        'E:/CUB_200_2011/images/200.Common_Yellowthroat/Common_Yellowthroat_0058_190958.jpg'],
       [0,
        'E:/CUB_200_2011/images/200.Common_Yellowthroat/Common_Yellowthroat_0008_190703.jpg'],
       [0,
        'E:/CUB_200_2011/images/200.Common_Yellowthroat/Common_Yellowthroat_0055_190967.jpg']], dtype=object)

In [216]:
for p in range(200):
    k = mm[p]
    for i in e1[:,1]:
        if 'images/' + k in i:
            copy2(i, 'E:/CUB_200_2011/train/'+k)

In [217]:
for p in range(200):
    k = mm[p]
    for i in e2[:,1]:
        if 'images/' + k in i:
            copy2(i, 'E:/CUB_200_2011/test/'+k)